/* ==============================
   $Contents
   ==============================*/
/**
* Contents......................Here we are!
* Custom mixins and vars........Project's custom mixins and variables
* 
* Headings and text.............Headings and paragraphs general styles
* General styles................Abstract styles
*  Main header..................Title,langs, mail styles
*   Top elements................Nav, event styles
*  Biography section............Portrait, description styles
*  Design section...............Sliders, annotation, featured work styles
*  Media section................Projects, books, description styles
*  Partners section.............Logos, description styles
*  Contacts section.............Contacts, location styles
*  Media queries................Media queries section
*   Media max-width: 980px
*   Media max-width: 800px
*/
/* ==============================
   $Custom mixins and vars
   ============================== */
/* ==============================
   $General styles
   ==============================*/
html {
  overflow-x: hidden;
}

body {
  padding: 40px 0;
}

/* ==============================
   $Main header
   ==============================*/
.header__link {
  *display: inline;
  zoom: 1;
}

/* ==============================
   $Top elements
   ==============================*/
.event {
  float: left;
  width: 30%;
  padding: 0 5%;
}
.event img {
  *display: inline;
  zoom: 1;
}

.event__date {
  *display: inline;
  zoom: 1;
}

.nav.is-fixed {
  border-bottom: 3px solid #2f2f2f;
}
.nav.is-fixed li {
  *display: inline;
  zoom: 1;
}

/* ==============================
   $Biography section
   ==============================*/
.bio {
  width: 60%;
}

/* ==============================
   $Design section
   ==============================*/
.design__title {
  padding-left: 0;
}

.design__slider {
  *display: inline;
  zoom: 1;
}

.slider__title {
  *display: inline;
  zoom: 1;
}

.slider__controls {
  padding-top: 10px;
  line-height: 0;
}

.slider__arrow {
  *display: inline;
  zoom: 1;
}

.featured__title {
  margin-bottom: 20px;
}

.logo__inner {
  width: 156px;
  height: 145px;
}

/* ==============================
   $Media section
   ==============================*/
.media__title {
  padding-left: 0;
}

.book__item {
  *display: inline;
  zoom: 1;
  margin-right: 25px;
}

/* ==============================
   $Partners section
   ==============================*/
.partners__title {
  padding-right: 0;
}

.partners__wrap {
  padding: 28px 0 0;
}

.partners__item {
  *display: inline;
  zoom: 1;
}
.partners__item a {
  *display: inline;
  zoom: 1;
}

/* ==============================
   $Contacts section
   ==============================*/
.contact__card {
  *display: inline;
  zoom: 1;
}

/* ==============================
   $Media queries
	* max-width: 980px
	* max-width: 800px
   ============================== */
/* ==============================
   $Media max-width 980px
   ==============================*/
@media screen and (max-width: 980px) {
  .nav li {
    *display: inline;
    zoom: 1;
  }

  /* media mw_980px media */
  .doc__item {
    *display: inline;
    zoom: 1;
  }
}
/* ==============================
   $Media max-width 800px
   ==============================*/
@media screen and (max-width: 800px) {
  /* media mw_800px general */
  body {
    padding: 0;
  }
}
