/* ==============================
   $Contents
   ==============================*/
/**
* Contents......................Here we are!
* Reset.........................Reset defaults
* Fonts.........................Fonts embed
*   Elements lib................Import Scss elements library
*   Layout tols.................Import Scss layout and graphing grid - just for dev
* Custom mixins and vars........Project's custom mixins and variables
* 
* Headings and text.............Headings and paragraphs general styles
* General styles................Abstract styles
*  Main header..................Title,langs, mail styles
*  Top elements.................Nav, event styles
*  Biography section............Portrait, description styles
*  Design section...............Sliders, annotation, featured work styles
*  Media section................Projects, books, description styles
*  Partners section.............Logos, description styles
*  Contacts section.............Contacts, location styles
* Media queries................Media queries section
*  Media max-width: 980px
*  Media max-width: 800px
*  Media max-width: 640px
*  Media max-width: 480px
*/


/* ==============================
   $Reset
   ==============================*/
@import "mixin_libs/reset.scss";


/* ==============================
   $Fonts
   ==============================*/
@import "fonts.scss";


/* ==============================
   $Elements lib
   ==============================*/
@import "mixin_libs/elements.scss"; 


/* ==============================
   $Layout tools
   ==============================*/
@import "mixin_libs/layout-tools.scss";


/* ==============================
   $Custom mixins and vars
   ============================== */   
$main-bg-color: #f7f6ec;
$main-color: #2f2f2f;
$gold-dark-color: #b39c5b;
$gold-light-color: #f2e9e2;
   
   
/* ==============================
   $Headings and text
   ============================== */
h1{
	font-size: 35px;
	line-height: 30px;
	text-transform: uppercase;
}
h2{
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
}
h3{
	font-size: 20px;
	line-height: 22px;
}
p{
	font-size: 15px;
	line-height: 20px;
}
a{
	font-size: 15px;
	color: $main-color;
	text-decoration: none;
	border-bottom: 1px solid $gold-dark-color;
	outline:none;
}
	a:hover{
		border: none;
	}
		
/* ==============================
   $General styles
   ==============================*/ 
/*I think for this layout selection bg color should be custom..*/  
*::selection {
	background: $main-color;
	color: #fff;
}
*::-moz-selection {
	background: $main-color;
	color: #fff;	
}     

	body {	
		padding: 38px;
		background-color: $main-bg-color;
		font-family: 'AcademyC', serif;
		color: $main-color;
		
		/* Написав цей дивний міксін щоб спробувати pixel perfect верстку, хоч і відношусь до неї з прохолодою. just for lulz можна глянути що вийшло))*/		
		/* @include layout("../pixel-perf-layout.png", 1275px, .4);  */
		
		/*А цією міліметровкою користуюсь щоб не лазити в фш по розміри елементів...*/
		/* @include regular-graph-paper(.5,10px,10px,#7fdbff); */
	}
		/* Borders around page */
		.page-wrap{
			max-width: 1400px;
			margin: 0 auto;
			padding: 8px;
			border: 3px solid $main-color;
		}
			.page{
				position: relative;
				border: 1px solid $gold-dark-color;
				
				@include clearfix;
			}	

		/* Reusable things for sections header */	
		%section__header{
			margin: 0 auto;
			padding: 0 45px;
			text-align: center;
		}
			%section__title{
				position: relative;
				margin-bottom: 10px;
				padding-top: 10px;
				overflow: hidden;
				
				/* Gradient lines in headings */
				&:before{
					content: "";
					display: block;
					position: absolute;
					width: 50%;
					height: 1px;
					top: 65%;
					
					@include linear-gradient(left, $gold-dark-color, $gold-light-color);
				}
				&:after{
					content: "";
					display: block;
					position: absolute;
					width: 50%;
					height: 1px;
					top: 65%;
					
					@include linear-gradient(right, $gold-dark-color, $gold-light-color);
				}
			}	
			%section__descr{
				margin: 0 auto;
				font-family: "AcademyCItalic", serif;
			}			
		
/* ==============================
   $Main header
   ==============================*/ 	
	.page__header {
		width: 100%;
		text-align: center;
	}
		.header__link{
			display: inline-block;
			margin: 8px 12px 7px;
			line-height: 20px;
			font-family: 'AcademyCItalic';
		
			&.lang{
				float: left;
			}
			&.mail{
				float: right;
			}
		}	
		.header__title{
			clear: both;
			margin-left: 20px;
			font-size: 45px;
			line-height: 1;
			color: $gold-dark-color;
			letter-spacing: 2px; /* ps-tracking*size/1000 = px */
			text-transform: none;
		}		
		
/* ==============================
   $Top elements
   ==============================*/ 	
   
   /* Standalone event styles */
	.event{
		float: left;
		width: 33.5%;
		margin-top: 40px;
		padding: 0 4.8%;	
		
		@include clearfix;
		
		& img{
			display: inline-block;
			width: 46.5%;
			margin: 0 2.5% 23px 0;
			vertical-align: top;
		}
	}
		.event__date{	
			display: inline-block;
			width: 30%;
			font-size: 40px;
			line-height: 30px;	
			white-space: nowrap;
			letter-spacing: -1px;
			vertical-align: top;
		}
			.event__month{
				display: block;
				margin: 3px 0 0 5px;
				padding-bottom: 5px;
				border-bottom: 1px solid $main-color;
				font-family: "Arial", sans-serif;
				font-size: 13px;
				line-height: 20px;		
				letter-spacing: 0;			
			}
			.event__cat{
				display: block;
				margin: 6px 0 0 5px;
				padding-bottom: 10px;
				border-bottom: 1px solid $main-color;
				font-family: "AcademyCItalic", serif;
				font-size: 15px;
				white-space: normal;
				line-height: 15px;	
				letter-spacing: 0;
			}
		.event__title{
			width: 46.5%;
			margin-bottom: 8px;
			
			& a{				
				font-size: 20px;
				line-height: 22px;	
			}	
		}
		.event__text{
			font-family: "Arial", sans-serif;
			font-size: 12px;
			line-height: 18px;	
		}
		
	/* main navbar	 */
	.nav{
		position: absolute;
		top: 122px;
		right: 5%;
		text-align: right;
		text-transform: uppercase;
		
		/* game with specified selectors for "sticky" navbar */
		&.is-fixed{
			float: none;
			position: fixed;
			width: 100%;
			top: 0;
			left:0;
			padding: 0 38px;
			z-index: 999;
			background-color: $main-bg-color;
			text-align: center;
			
			&:after{
				content: "";
				display: block;
				position: relative;
				width: 100%;
				bottom: 0;
				border-bottom: 3px solid $main-color;
			}
			
			&>ul{			
				padding: 0 11px;
				
				&:after{
					content: "";
					display: block;
					position: relative;
					width: 100%;
					height: 8px;
					bottom: -12px;
					background-color: $main-bg-color;
					border-bottom: 1px solid $gold-dark-color;
				}
			}
			& li{
				display: inline-block;
				margin: 12px 15px 6px;
			}
		}
	}	
		.nav__link{
			padding: 2px 3px 2px;
			background-color: $gold-light-color;
			line-height: 24px;
			border: none;
			
			&:hover{
				background-color: $main-color;
				color: #fff;
			}
		}
			.is-active{
				background-color: $main-color;
				color: #fff;
			}	
/* ==============================
   $Biography section
   ==============================*/	
	.bio{
		float: right;
		width: 66.5%;
		padding-top: 30px;
		
		@include clearfix;
	}
		.portrait{
			float: left;
			max-width: 53%;
			padding: 7px;
			border: 3px solid $gold-dark-color;
			
			& img{
				max-width: 100%;
			}
		}
		.bio__descr{
			float: right;
			width: 37%;
			margin: 37% 6.5% 20px 0;
		}	
			.bio__title{
				color: $gold-dark-color;
				letter-spacing: -1px;
				margin-bottom: 25px;
			}
			.bio__text{
				margin-left: 5px;
				font-family: "Arial", sans-serif;
				font-size: 12px;
				line-height: 20px;
			}
   
/* ==============================
   $Design section
   ==============================*/	
	.design{
		width: 100%;
		padding-top: 88px;
		clear: both;
	}
		.design__header{
			@extend %section__header;
		}
			.design__title{
				@extend %section__title;
				padding-left: 25px;				
				
				&:before{
					left: -240px;
				}
				&:after{
					right: -250px;
				}
			}
			.design__descr{
				max-width: 550px;
				@extend %section__descr;
				font-family: "AcademyCItalic", serif;
			}			
			
		.design__projects{
			text-align: center;
		}
			/* slider with projets images */
			.design__slider{
				display: inline-block;
				width: 23.5%;
				margin: 27px 3.6% 0;
			}	
				.slider__title{
					display: inline-block;
					
					& a{
						font-size: 20px;
						line-height: 22px;
					}
				}
				.slider__inner{
					position: relative;
					width: 100%;
					max-height: 190px;
					margin: 13px 0 8px;
					border: 1px solid $main-color;
					overflow: hidden;
					& img{
						display: block;
						width: 100%;
					}
				}
				.slider__controls{
					max-width: 160px;
					margin: 0 auto;
					font-size: 21px;
					line-height: 21px;
					letter-spacing: -2px;
					@include clearfix;
				}
					.slider__arrow{
						display: inline-block;
						@include size(10px, 15px);
						margin-top: 5px;
						background-image: url("../img/main-sprite.png");
						border: none;
						
						@include hidentext;
					}	
						.slider__arrow_left{
							float: left;
							background-position: -73px -699px;
							
							&:hover{
								background-position: -91px -699px;
							}
						}
						.slider__arrow_right{
							float: right;
							background-position: -112px -699px;
							
							&:hover{
								background-position: -130px -699px;
							}
						}
		
		/* featured project */
		.design__featured{
			position: relative;
			width: 730px;
			margin: 72px auto 0;
		}
			.featured__title{
				padding-left: 5px;	
				color: $main-color;
				
				&>a{
					font-size: 60px;
					line-height: 70px;
					letter-spacing: 0;	
					border: none;	
					
					&:hover span{	
						border: none;	
					}				
					&>span{			
						height: 64px;
						display: inline-block;
						border-bottom: 1px solid $gold-dark-color;					
					}
				}			
			}
			.featured__text{	
				position: absolute;
				width: 340px;
				top: 83px;
				right: 33px;
				font-family: "Arial", sans-serif;
				font-size: 12px;
				line-height: 16px;
			}
			
			/* At first I want use one picture as logo but then.. */
			.featured__logo{
				@include size(160px, 160px);
				margin: 17px auto 0;
				padding: 3px;
				border: 4px solid $gold-dark-color;	
				text-align: center;	
			}
				.logo__inner	{			
					@include size(100%, 100%);	
					border: 1px solid $gold-dark-color;
					padding-top: 12px;
					overflow: hidden;
					
					& img{
						max-width: 100%;
					}
				}
					.logo__text{
						margin-top: 8px;
						font-size: 16px;
						color: $gold-dark-color;
					}
	
/* ==============================
   $Media section
   ==============================*/	
	.media{
		width: 100%;
		padding-top: 87px;
		clear: both;
		text-align: center;
		
		@include clearfix;
	}
		.media__header{
			@extend %section__header;
		}
			.media__title{
				@extend %section__title;
				padding-left: 20px;
				
				&:before{
					left: -160px;
				}
				&:after{
					right: -180px;
				}
			}
			.media__descr{
				max-width: 800px;
				@extend %section__descr;
				font-family: "AcademyCItalic", serif;
			}
			
		/* documental items section	 */
		.media__doc{
			float: left;
			width: 64%;
			margin: 40px 0 35px 4%;
		}
			.doc__item{
				display: inline-block;
				width: 23.4%;
				margin: 28px 4.7%;
				vertical-align: top;
				text-align: left;
				
				& img{
					max-width: 80%;
					border: 1px solid $gold-dark-color;
				}
			}
			
		/* game items section	 */
		.media__game{
			float: right;
			width: 19%;
			margin: 40px 7.8% 0 5%;	
			
			@include clearfix;
		}
			.game__item{
				display: inline-block;
				width: 100%;	
				margin: 8px 0 0;
				padding: 18px 16px 14px;
				border: 2px solid $main-color;	
				vertical-align: top;
				text-align: left;
				
				& img{
					max-width: 75%;
					border: 1px solid $gold-dark-color;
				}
			}
			
		/* book items section	 */
		.media__book{
			clear: both;
			margin: 0 auto;
			text-align: center;		
		}
			.book__item{		
				display: inline-block;			
				max-width: 350px; 
				margin-top: 30px;
				padding-right: 25px;
				vertical-align: top;
				text-align: left;
				
				&:last-of-type{				
					padding: 0 0 0 80px;
				}
				& img{
					float: left;
					max-width: 55%;
					margin: 0 18px 10px -35px;
					
					@include box-shadow(2px,2px,6px,0,$main-color);
				}						
			}		

				/* common media items styles */
				.media-item__title{		
					margin: 10px 0 11px;
					font-family: "Times New Roman", serif;
					
					& a{
						font-size: 20px;
						line-height: 18px;
					}
				}
				.media-item__descr{
					font-family: "Arial", sans-serif;
					font-size: 12px;
					line-height: 18px;
				}
				
/* ==============================
   $Partners section
   ==============================*/			
	.partners{
		width: 100%;
		padding-top: 91px;
	}
		.partners__header{
			@extend %section__header;
		}
			.partners__title{
				@extend %section__title;
				padding-right: 15px;
				
				&:before{
					left: -115px;
				}
				&:after{
					right: -100px;
				}
			}
			.partners__descr{
				max-width: 680px;
				@extend %section__descr;
			}
		
		/* container for all those logos */
		.partners__wrap{
			width: 100%;
			margin: 0 auto;
			padding: 28px 5% 0;
			text-align: center;
		}
		
			/* logo items: sprite-mode on */
			.partners__item{
				display: inline-block;
				width: 33.3%;
				margin: 0 0 40px -3px;
				background: url("../img/main-sprite.png") 50% 0 no-repeat;
				vertical-align: middle;
				
				@include transition(opacity, .3);
				
				& a{
					display: inline-block;
					width: 100%;
					height: 100%;
					border: none;
					@include hidentext;
				}
				
				&:hover{
					@include opacity(.3);
				}
			}
				.partner-mash{
					height: 35px;
					background-position: 50% 0;
				}
				.partner-buss{
					height: 190px;
					background-position: 50% -60px;
				}
				.partner-po{
					height: 74px;
					background-position: 50% -275px;
				}
				.partner-che{
					height: 128px;
					background-position: 50% -372px;
				}
				.partner-art{
					height: 20px;
					background-position: 50% -529px;
				}
				.partner-bal{
					height: 86px;
					background-position: 50% -568px;
				}
				.partner-ce{
					height: 18px;
					background-position: 50% -667px;
				}
	
/* ==============================
   $Contacts section
   ==============================*/	
	.contacts{
		width: 100%;
		padding-top: 45px;
	}
		.contacts__header{
			@extend %section__header;
		}
			.contacts__title{
				@extend %section__title;
				
				&:before{
					left: -110px;
				}
				&:after{
					right: -110px;
				}
			}
			
			/* Contact card with microformats, but I think they're shouldn't be styled */
			.contact__card{
				display: inline-block;
				width: 50%;
				margin: 50px 0 57px -3px;
				vertical-align: top;
				font-family: "Arial", sans-serif;
				font-size: 12px;
				line-height: 18px;
				text-align: center;
				
				&:first-of-type{
					padding-left: 55px;
				}	
				&:last-of-type{
					padding-right: 55px;
				}
			}
				.contact__org{
					display: none;
				}
				.contact__adr{
					margin-bottom: 20px;
				}
					.contact__loc{
						display: block;
						margin-bottom: 10px;
						font-family: 'AcademyC', serif;
						font-size: 20px;
						line-height: 30px;
						text-transform: uppercase;
					}
					
					
/* ==============================
   $Media queries
	* max-width: 980px
	* max-width: 800px
	* max-width: 640px
	* max-width: 480px
   ============================== */   


/* ==============================
   $Media max-width 980px
   ==============================*/

@media screen and (max-width:980px){

/* media mw_980px header */	
	.header__title{
		font-size: 40px;
	}
	
/* media mw_980px event */		
	.event{
		padding: 0 3%;	
	}
		.event__date{	
			width: 40%;
		}
		.event__title{
			width: 100%;
		}
		
/* media mw_980px nav - make nav horizontal instead of vertical*/			
	.nav{
		position: relative;
		top: auto;
		right: auto;
		text-align: center;
		
		&.is-fixed{			
			& li{
				margin: 12px 2px 6px;
			}
		}	
		
		& li{
			display: inline-block;
			margin: 12px 2px 6px;
		}		
	}	
	
/* media mw_980px biography */		
		.bio__descr{
			float: right;
			width: 35%;
			margin: 0 6.5% 10px 0;
		}	
			.bio__title{
				margin-bottom: 5px;
				font-size: 30px;
				line-height: 30px;
			}
			
/* media mw_980px design */	
	.design{
		padding: 40px 0;
	}
		.design__featured{
			width: 690px;
			margin: 50px auto 0;
		}
			.featured__title{
				padding-left: 20px;
				&>a{
					font-size: 55px;
					line-height: 65px;
					
					&>span{			
						height: 60px;				
					}
				}			
			}
			.featured__text{	
				position: absolute;
				width: 340px;
				top: 73px;
				right: 30px;
			}
			
/* media mw_980px media */	
	.media{
		padding: 40px 0;
	}			
		.media__doc{
			float: none;
			width: 100%;
			margin: 40px 0 0 0;
		}
			.doc__item{
				display: inline-block;
				width: 23.4%;
				margin: 28px 4.7%;
				vertical-align: top;
				text-align: left;
				
				& img{
					border: 1px solid $gold-dark-color;
				}
			}
		.media__game{
			float: none;
			width: 90%;
			margin: 20px auto 0;
		}
			.game__item{
				width: 100%;	
				margin: 0 0 30px;
				padding: 10px;
				
				& img{
					float: left;
					margin-right: 10px;
				}
			}
			.book__item{				
				max-width: 40%; 
				margin: 30px 0 0 8%;
				padding-right: 0;
				
				&:last-of-type{				
					padding: 0;
				}
				& img{
					float: left;
					max-width: 40%;
					margin: 0 3% 10px -10%;
				}						
			}	
			
/* media mw_980px partners */
	.partners{
		padding: 40px 0;		
	}

/* media mw_980px contacts */
	.contacts{
		padding-top: 0;
	}
			.contact__card{
				margin: 30px 0 30px -3px;
				
				&:first-of-type{
					padding-left: 10px;
				}	
				&:last-of-type{
					padding-right: 10px;
				}
			}
}


/* ==============================
   $Media max-width 800px
   ==============================*/

@media screen and (max-width:800px){

/* media mw_800px general */
body{
	padding: 10px;
}
	.page{
		padding: 0 10px;
	}	
		.sect__header{
			padding: 0 10px;
		}	
			.sect__title{
				padding-left: 0;
			}

/* media mw_800px header */
	.page__header {
		margin-bottom: 10px;
	}
	
/* media mw_800px nav */
	.nav{
		&.is-fixed{
			padding: 0 10px;
		}	
	}
	
/* media mw_800px event */	
	.event{
		float: none;
		width: 100%;
		padding: 0;
		
		@include clearfix;
		
		& img{
			float: left;
			width: 21%;
			margin: 0 2% 5px 25%;
		}
	}
		.event__date{	
			width: 20%;
			margin-bottom: 10px;
		}
			.event__month{
				padding-bottom: 0;	
			}
			.event__cat{
				padding-bottom: 5px;
			}
		.event__title{			
			width: 75%;
			margin: 0 1.5% 10px 25%;
		}
		.event__text{
			width: 50%;
			margin-left: 25%;
		}

/* media mw_800px biography */
	.bio{
		float: none;
		width: 100%;
		padding: 40px 2%;
	}
		.portrait{
			float: left;
			max-width: 40%;
			margin-right: 1%;
		}
		.bio__descr{
			width: 55%;
			margin: 0;
		}
		
/* media mw_800px design */	
	.design{
		padding: 40px 0;
	}
		.design__featured{
			width: 620px;
			margin: 50px auto 0;
		}
			.featured__title{
				padding-left: 30px;
				&>a{
					font-size: 45px;
					line-height: 65px;
					&>span{			
						height: 55px;				
					}
				}			
			}
			.featured__text{	
				position: absolute;
				width: 280px;
				top: 63px;
				right: 50px;
			}
			
/* media mw_800px partners */
			.partners__item{
				width: 50%;
				margin: 0 0 25px -3px;
			}
		
}		


/* ==============================
   $Media max-width 640px
   ==============================*/

@media screen and (max-width:640px){

/* media mw_640px headings */
h1{
	font-size: 25px;
	line-height: 30px;
}
h2{
	font-size: 20px;
	line-height: 30px;
}

/* media mw_640px general */
		.sect__header{
			padding: 0 5px;
		}	
			.sect__title{
				padding-left: 0;		
				
				&:before{
					display: none;
				}
				&:after{
					display: none;
				}			
			}


/* media mw_640px nav */
	.nav{
		&.is-fixed{
		
			& li{
				display: block;
				margin: 0;
			}	
		}		
		& li{
			display: block;
			margin: 0;
		}		
	}
	
/* media mw_640px event */	
	.event{
		padding: 0 0 20px;
		border-bottom: 1px dashed $gold-dark-color;
		
		& img{
			width: 30%;
			margin: 0 2% 5px 20%;
		}
	}
		.event__date{	
			width: 30%;
		}
		.event__title{
			width: 62%;
			margin: 0 1.5% 10px 20%;
		}
		.event__text{
			width: 62%;
			margin-left: 20%;
		}

/* media mw_640px biography */
	.bio{
		float: none;
		width: 100%;
		padding-bottom: 20px;
		border-bottom: 1px dashed $gold-dark-color;
	}
		.portrait{
			float: none;
			max-width: 70%;
			margin: 0 auto;
		}
		.bio__descr{
			float: none;
			width: 100%;
			margin: 15px auto 0;
		}	
			.bio__title{
				margin-bottom: 5px;
				text-align: center;
			}
			
/* media mw_640px design */	
	.design{
		padding: 20px 0;
		border-bottom: 1px dashed $gold-dark-color;
	}
			.design__slider{
				display: inline-block;
				width: auto;
				max-width: 300px;
				margin: 27px 0 0;
			}	
		.design__featured{
			width: 100%;
			margin: 50px auto 0;
			text-align: center;
		}
			.featured__title{
				&>a{
					font-size: 30px;
					line-height: 40px;
					&>span{			
						height: 40px;				
					}
				}			
			}
			.featured__text{	
				position: relative;
				width: 90%;
				top: auto;
				right: auto;
				margin: 15px auto 0;
			}
/* media mw_640px media */	
	.media{
		padding: 20px 0;
		border-bottom: 1px dashed $gold-dark-color;
		
		@include clearfix;
	}						
		.media__doc{
			float: none;
			width: 100%;
			margin: 40px 0 15px;
		}
			.doc__item{
				width: 100%;
				margin: 30px 0 0;
				
				& img{
					float: left;
					margin-right: 10px;
				}
			}		
			.book__item{				
				max-width: 70%; 
				& img{
					max-width: 30%;
				}						
			}	
/* media mw_640px partners */
	.partners{
		padding: 20px 0;
		border-bottom: 1px dashed $gold-dark-color;		
	}
			.partners__item{
				width: 100%;
				margin: 0 0 25px 0;
			}

/* media mw_640px contacts */
	.contacts{
		padding-top: 20px;
	}
}	


/* ==============================
   $Media max-width 480px
   ==============================*/

@media screen and (max-width: 480px){

/* media mw_480px event */	
	.event{
		
		& img{
			width: 40%;
			margin: 0 2% 5px 10%;
		}
	}
		.event__date{	
			width: 40%;
		}
		.event__title{
			width: 82%;
			margin: 0 1.5% 10px 10%;
		}
		.event__text{
			width: 82%;
			margin-left: 10%;
		}
		
/* media mw_480px media */			
			.book__item{
				max-width: 90%;						
			}		
				.media-item__descr{
					text-align: left;
				}

/* media mw_480px contacts */
			.contact__card{
				width: 100%;
				margin: 20px 0;
				
				&:first-of-type{
					padding-left: 0;
				}	
				&:last-of-type{
					padding-right: 0;
				}
			}
} 